ReleaseNotesView {
    background: black;
    border: double white;
    border-title-align: left;
}

ReleaseNotesView > VerticalScroll {
    width: 80%;
    height: 80%;
    border: double white;
    border-title-align: center;
}