StartFeatureModal {
    align: center middle;
}

#start_feature_container {
    background: $surface;
    border: solid $primary;
    padding: 1 2;
    width: 60;
    height: auto;
}

#start_feature_title {
    text-style: bold;
    color: $primary;
    margin-bottom: 1;
}

.start_feature_label {
    margin-top: 1;
}

#feature_name {
    margin-top: 0;
    margin-bottom: 1;
}

#start_feature_buttons {
    height: 3;
    align-horizontal: right;
}

#btn_cancel {
    margin-right: 1;
}
